sudo: false
language: java
script:
  - boot test
  - boot test-cljs
  - boot test-cljs-advanced
install:
  - mkdir -p ~/bin
  - export PATH=~/bin:$PATH

  - curl -L https://github.com/boot-clj/boot-bin/releases/download/latest/boot.sh -o ~/bin/boot
  - chmod +x ~/bin/boot
env:
  matrix:
    - BOOT_CLOJURE_VERSION=1.8.0
  global:
    - JAVA_OPTS="-Xms512m -Xmx2048m"
  jdk:
    - openjdk8
  cache:
    directories:
      - $HOME/.m2
      - $HOME/.boot/cache/bin
      - $HOME/.boot/cache/lib
      - $HOME/bin
